/*****************  required styles  *****************/
.dragonDrop-submenu {
  position: absolute;
  z-index: 2;
  display: none; }

.dragonDrop-submenu {
  list-style: none;
  list-style: none;
  padding: 0;
  margin: 0; }

.dragonDrop-submenu {
  display: none; }
  .is-open.dragonDrop-submenu {
    display: block; }

/*****************  just for looks  *****************/
.submenu {
  border: 1px solid #ddd;
  min-width: 150px; }
  .submenu li {
    border-bottom: 1px solid #eee;
    padding: 1em; }
