/*****************  required styles  *****************/

%dragondrop-menu-content{
    position: absolute;
    z-index: 2;
    display: none;
}

%dragondrop-menu-content{
	list-style: none;
    list-style: none;
	padding: 0;
	margin: 0;
}

%dragondrop-menu-content{
	display: none;
	&.is-open{
		display: block;
	}
}


.dragonDrop-submenu{
  @extend %dragondrop-menu-content;
} 

/*****************  just for looks  *****************/

.submenu{
	border: 1px solid #ddd;
	min-width: 150px;

	li{
		border-bottom: 1px solid #eee;
		padding: 1em;
	}
}